# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.db

# Logs
logs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env

# IDE
.idea/

# OS junk
.DS_Store
Thumbs.db

# Development notes
TODO.md