<!-- Base.html is a share template (called a layout in
 an MVC project), and it holds the HTML for shared things
 such as the header, and footer, and more. -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title%}Milage Tracker{% endblock %}</title>

        <!-- Responsive Css Loading:
             - Loads 'baseMobile.css' ONLY if screen width is 542px or less.
             - Loads 'baseDesktop.css' ONLY if screen width is 543px or more. -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base-css/baseMobile.css') }}" media="screen and (max-width: 542px)">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base-css/baseDesktop.css') }}" media="screen and (min-width: 543px)">

        <!-- '% block stylesheet %' allows child pages (like home.html) to inject their own specific CSS files here -->
        {% block stylesheet %}{% endblock %}

        <style>
             /* Ensure the mobile menu is hidden on desktop */
             @media screen and (min-width: 543px) {
                 .hamburgerMenu, .mobileNavOverlay {
                     display: none !important;
                 }
             }
         </style>
    </head>

    <body class="{% if current_user.is_authenticated and current_user.theme == 'dark' %}darkMode{% endif %}">
        <!-- Header element for the top of the webpage -->
        <header class="mainHeader">
            <!-- Left section to add a small icon image -->
            <div class="headerLogoContainer">
                <a href="{{ url_for('home') }}"><img class="doordash-logo" src="/static/images/doorDashIcon.png" alt="Door Dash Icon"></a>
            </div>

            <!-- Hamburger menu Icon (Visible on mobile only) -->
            <div class="hamburgerMenu" onclick="toggleMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <!-- Middle section for navigation links -->
            <nav class="headerNavigationButtonsContainer">
                {% if current_user.is_authenticated %}
                    <a class="headerNavButton" href="{{ url_for('home') }}">Home</a>
                    <a class="headerNavButton" href="{{ url_for('add') }}">Add</a>
                    <a class="headerNavButton" href="{{ url_for('about') }}">About</a>
                {% else %}
                    <a class="headerNavButton" href="{{ url_for('home') }}">Home</a>
                    <a class="headerNavButton" href="{{ url_for('about') }}">About</a>
                {% endif %}
            </nav>

            {% if current_user.is_authenticated %}
                <div class="userAuthSection authLoggedIn">
                    <a class=" headerNavButton headerAccountButton" href="{{ url_for('account') }}">Account</a>
                </div>
            {% else %}
                <div class="userAuthSection authLoggedOut">
                    <a class="headerNavButton headerLoginButton" href="{{ url_for('login') }}">Login</a>
                    <a class="headerNavButton headerRegisterButton" href="{{ url_for('register') }}">Register</a>
                </div>
            {% endif %}
        </header>

        <div id="mobileNavOverlay" class="mobileNavOverlay">
            <a href="javascript:void(0)" class="closeBtn" onclick="toggleMenu()">&times;</a>
            <div class="mobileNavContent mobileNavLinks">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('home') }}">Home</a>
                    <a href="{{ url_for('add') }}">Add</a>
                    <a href="{{ url_for('about') }}">About</a>
                {% else %}
                    <a href="{{ url_for('home') }}">Home</a>
                    <a href="{{ url_for('about') }}">About</a>
                {% endif %}
            </div>

                {% if current_user.is_authenticated %}
                    <div class="mobileNavContent">
                        <a href="{{ url_for('account') }}">Account</a>
                    </div>
                {% else %}
                    <div class="mobileNavContent">
                        <a href="{{ url_for('login') }}">Login</a>
                        <a href="{{ url_for('register') }}">Register</a>
                    </div>
                {% endif %}
            </div>



        <main class="mainBody">
            <!-- Flash Messages Section -->
            <!-- This loops through any messages sent from app.py and displays them -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flashMessagesContainer">
                        {% for category, message in messages %}
                            <div class="flashMessage {{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <!-- '% block content %' is the placeholder where the unique content
                 from pages like home.html, add.html, etc., will be inserted -->
            {% block content %}{% endblock %}
        </main>

        <footer class="footer">
            <div class="footerTopSection">
                <div class="footerNavContainer">
                    <div class="footerNavSection">
                        <h5>Navigation</h5>
                        <nav>
                            <ul>
                                <li><a class="footerNavLink" href="{{ url_for('home') }}">Home</a></li>
                                <li><a class="footerNavLink" href="{{ url_for('add') }}">Add</a></li>
                                <li><a class="footerNavLink" href="{{ url_for('about') }}">About</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="footerNavContainer">
                    <div class="footerNavSection">
                        <!--Use this section in future for account login and setup -->
                        <h5>Account</h5>
                        <nav>
                            <ul>
                                {% if current_user.is_authenticated %}
                                    <li><a class="footerNavLink" href="{{ url_for('account') }}">Account</a></li>
                                    <li><a class="footerNavLink" href="{{ url_for('logout') }}">Logout</a></li>
                                {% else %}
                                    <li><a class="footerNavLink" href="{{ url_for('login') }}">Login</a></li>
                                    <li><a class="footerNavLink" href="{{ url_for('register') }}">Register</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="footerBottomSection">
                <div class="copyrightContainer">
                    <p>&copy; {{ 2026 }} Mileage Tracker</p>
                </div>
                <div class="externalLinkContainer">
                    <a href="https://docs.google.com/spreadsheets/d/1JJBXok8eEQnYHOuvK2PLwrS9O1qeUtEDoQK7ltxREbI/edit?usp=sharing" target="_blank"><img  src="/static/images/googleSheetsIcon.png" alt="Google Sheets Icon" class="footerExternalImageIcon"></a>
                    <a href="https://linktr.ee/kaloob._" target="_blank"><img  src="/static/images/linkTreeIcon.png" alt="Link Tree Icon" class="footerExternalImageIcon"></a>
                    <a href="https://github.com/Kdubs6991" target="_blank"><img  src="/static/images/gitHubIcon.png" alt="Git Hub Icon" class="footerExternalImageIcon"></a>
                </div>
            </div>
        </footer>

        <script>
            function toggleMenu() {
                var menu = document.getElementById("mobileNavOverlay");
                if (menu.style.width === "250px") {
                    menu.style.width = "0";
                } else {
                    menu.style.width = "250px";
                }
            }

            function toggleTheme() {
                const body = document.body;
                body.classList.toggle('darkMode');

                const isDark = body.classList.contains('darkMode');
                const theme = isDark ? 'dark' : 'light';

                // Send preference to server
                fetch("{{ url_for('update_theme') }}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ theme: theme })
                });
            }
        </script>
    </body>
</html>

<!-- Notes for Development use
  • Header z-index = 1000
  • MobileNavOverlay z-index = 1100
 -->