/**/
/**/
/* Header for desktop */
.mainHeader{
    /* Fixing the header to the very top of the page */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 0;

    /* Setting up the flexbox for the header */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* Color of the header */
    background-color: rgb(128, 128, 128);

    /* Adjusting the header size to fit everything */
    height: 70px;

    /* Creating a border */
    border-bottom: 2px solid dimgrey;
}

.leftLogo {
    background-color: blue;

    /* Making the logo shrink if it gets too small */
    display: flex;
    flex: 0.5;
    align-items: center;
    justify-content: center;

    /* Padding to make the logo inside sit better */
    padding-left: 10px;
    padding-right: 10px;
}

/* left side image */
.doordash-logo{
    min-height: 20px;
    max-height: 50px;
    height: auto;
    width: auto;

}

.middleSection{
    background-color: pink;

    /* Flexbox setup */
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;

}

/* Navigation buttons */
.headerNavButton{
    background-color: #e7e7e7;
    border-style: solid;
    border-color: #bebebe;
    border-radius: 6px;
    text-decoration: none;
    color: #1e1e1e;
    display: inline-block;

    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}

.rightSection{
    background-color: purple;

    /* Flexbox setup */
    display: flex;
    flex: 1.2;
    align-items: center;
    justify-content: space-around;
    min-width: 90px;

}

.externalImageIcon{
    /* Force consistent size */
    height: 40px;
    width: 40px;
    object-fit: contain;

    filter: grayscale(100%);
}

/**/
/**/
/* css for when buttons/images are hovered over */
.doordash-logo, .headerNavButton, .externalImageIcon {
    transition: transform 0.2s ease, margin-left 0.2s ease, margin-right 0.2s ease;
}

.doordash-logo:hover, .headerNavButton:hover, .externalImageIcon:hover {
    transform: scale(1.2);
    margin-left: 10px;
    margin-right: 10px;
}

/**/
/**/
/* Main body for desktop */
.mainBody {
    margin-top: 120px;
}