/**/
/**/
/* Header for desktop */
.mainHeader{
    /* Fixing the header to the very top of the page */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 0;

    /* Setting up the flexbox for the header */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* Color of the header */
    background-color: rgb(128, 128, 128);

    /* Adjusting the header size to fit everything */
    height: 100px;

    /* Creating a border */
    border-bottom: 2px solid dimgrey;

}

.leftLogo {
    /* Setting the logo to not be too wide */
    width: auto;
    max-width: 100%;
    background-color: blue;

    /* Making the logo shrink if it gets too small */
    display: flex;
    align-items: center;
    justify-content: center;
}

.middleSection{
    background-color: pink;

    /* Flexbox setup */
    flex: 2;
    display: flex;
    align-items: center;
    justify content: center;
    max-width: 800px;

    margin-left: 0px;
}

.rightSection{
    background-color: purple;

    /* Flexbox setup */
    flex: 1;
    min-width: 200px;
    align-items: center;
    justify-content: space-between;
}

/**/
/**/
/* Main body for desktop */
.mainBody {
    margin-top: 120px;
}