.contentContainer{
    margin-left: 10px;
}

.addForm{
    /* Flexbox column layout stacks the inputs vertically */
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 100%;
    max-width: 400px;
}
.formInputContainer{
    max-width: 100%;
}
.notesInputContainer{
    max-width: 190px;
}

/* Wrapper to hold the dollar sign and input*/
/* position: relative allows the absolute child ($) to be positioned inside this box */
.currencyWrapper{
    position: relative;
    max-width: 190px;
}

/* Dollar sign itself*/
.currencySymbol{
    /* Absolute position takes it out of the flow so it sits on top of the input */
    position: absolute;
    left: 10px;
    /* These 3 lines perfectly center the element vertically */
    top: 50%;
    transform: translateY(-50%);

    color: var(--text-main);
    pointer-events: none; /* Allows clicking through the symbol to the input */
}
/* Add padding so text doesn't overlap the $ initially */
.currencyWrapper .formInput {
 padding-left: 25px;
}

.fileInputContainer{
    margin-top: 2px;
    margin-bottom: 10px;
}

.formInput{
    padding: 8px;
    width: 190px;
    background-color: var(--input-bg);
    color: var(--input-text);
    border: 1px solid var(--border-color);

    /* Ensures padding doesn't add to the total width, keeping it inside the 100% */
    box-sizing: border-box;
}
.rememberMeContainer{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}
.rememberMeBox{
    width: auto;
    cursor: pointer;
}
.rememberMeLabel{
    cursor: pointer;
}


.formButtons{
    display: flex;
    gap: 10px;
}
.submitBtn{
    padding: 10px 20px;

    border: none;
    cursor: pointer;

    background-color: #2563eb; /* blue */
    color: white;
    border: none;
    border-radius: 6px;
    /* clamp() makes the font responsive:
        - Minimum 4px
        - Preferred: 2.5% of the viewport width
        - Maximum: 48px */
    font-size: clamp(4px, 2.5vw, 48px);
    text-decoration: none;
    font-weight: 600;

    display: inline-block;

    transition: background-color 0.2s ease, transform 0.2s ease;
}
.submitBtn:hover{
    background-color: #1d4ed8;

    transform: scale(1.05);
}
.submitBtn:active{
    transform: scale(0.98);
}
.cancelBtn{
  background-color: #dc2626; /* red */
  color: white;

  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  font-size: clamp(4px, 2.5vw, 48px);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;

  transition: background-color 0.2s ease, transform 0.1s ease;
}
.cancelBtn:hover{
  background-color: #b91c1c;

  transform: scale(1.05);
}
.cancelBtn:active{
  transform: scale(0.98);
}


.bottomAuthText{
    margin-top: 20px;
}
.registerLoginLink{
    color: #2563eb;
}