{% extends "layouts/base.html" %}
<!-- This tells Jinja to use 'base.html' as the skeleton and fill in the blocks bellow. -->


{% block title %}Add Entry — Mileage Tracker{% endblock %}

{% block stylesheet %}
     <!-- Reuse the edit page CSS for consistent form styling -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/add-css/addDesktop.css') }}" media="screen and (min-width: 543px)">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/add-css/addMobile.css') }}" media="screen and (max-width: 542px)">
{% endblock %}

{% block content %}

<div class="contentContainer">
    <h1>Add Entry</h1>

     <hr style="border: 0; border-top: 1px solid #ccc; margin-bottom: 30px;">

     <!-- Option 2: Manual Entry -->
     <h2>Option 2: Manual Entry</h2>

    <!-- enctype="multipart/form-data" is REQUIRED whenever you have a file upload input.
         Without this, the server will not receive the file. -->
    <form method="post" class="addForm" enctype="multipart/form-data">
        <div class="formInputContainer">
            <label for="date">Week of (Select any day)</label><br>
            <input type="date" name="date" id="date" required class="formInput" value="{{ today }}">
        </div>

        <div class="formInputContainer">
            <label for="miles">Miles</label><br>
            <!-- step="0.01" allows decimal numbers (cents).
                 placeholder="0.00" gives the user a hint of the format. -->
           <input type="number" step="0.01" name="miles" id="miles" class="formInput" placeholder="0.00">

            <div class="fileInputContainer">
                <label for="file" class="fileInputLabel">Or upload Stride CSV:</label>
                <!-- accept=".csv" limits the file picker to CSV files only. -->
                <input type="file" name="file" id="file" accept=".csv" class="formInput fileInput">
            </div>
        </div>

        <div class="formInputContainer">
            <label for="earnings">Earnings</label><br>
            <div class="currencyWrapper">
                <input type="number" name="earnings" id="earnings" required class="formInput" placeholder=" ">
                <span class="currencySymbol">$</span>
            </div>
        </div>

        <div class="formInputContainer notesInputContainer">
            <label for="notes">Notes</label><br>
            <textarea name="notes" id="notes" rows="3" class="formInput"></textarea>
        </div>

        <div class="formButtons">
            <button type="submit" class="submitBtn">Save</button>
            <a href="{{ url_for('home') }}" class="cancelBtn">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}