{% extends "layouts/base.html" %}

{% block title %}Edit Entry - Mileage Tracker{% endblock %}

{% block stylesheet %}
    <!-- This CSS will only load on the home page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit-css/editDesktop.css') }}" media="screen and (min-width: 543px)">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit-css/editMobile.css') }}" media="screen and (max-width: 542px)">
{% endblock %}

{% block  content %}
<div class="contentContainer">
    <h1>Edit Entry</h1>

    <form method="post" class="editForm">
        <div class="formInputContainer">
            <label for="date">Week of (Select any day)</label><br>
            <input type="date" name="date" id="date" value="{{ entry['date'] }}" class="formInput">
        </div>

        <div class="formInputContainer">
            <label for="miles">Miles</label><br>
            <input type="number" step="0.01" name="miles" id="miles" value="{{ entry['miles'] }}" class="formInput">
        </div>

        <div class="formInputContainer">
            <label for="earnings">Earnings</label><br>
            <div class="currencyWrapper">
                <input type="number" step="0.01" name="earnings" id="earnings" required class="formInput" placeholder=" " value="{{ entry['earnings'] }}">
                <span class="currencySymbol">$</span>
            </div>
        </div>


        <div class="formInputContainer notesInputContainer">
            <label for="notes">Notes</label><br>
            <textarea name="notes" id="notes" rows="3" class="formInput">{{ entry['notes'] }}</textarea>
        </div>

        <div class="formButtons">
            <button type="submit" class="submitBtn">Save Changes</button>
            <a href="{{ url_for('home') }}" class="cancelBtn">Cancel</a>
            <button type="submit" class="deleteBtn" formaction="{{ url_for('delete', id=entry['id']) }}" onclick="return confirm('Are you sure you want to delete this entry?');">Delete</button>
        </div>

    </form>
</div>

{% endblock %}