{% extends "layouts/base.html" %}

{% block title %}Account - Mileage Tracker{% endblock %}

{% block stylesheet %}
    <!-- Reuse the add/edit CSS for consistent form styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account-css/accountDesktop.css') }}" media="screen and (min-width: 543px)">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account-css/accountMobile.css') }}" media="screen and (max-width: 542px)">
{% endblock %}


{% block content %}
    <div class="contentContainer">
        <h1>My Account</h1>

        <h3 class="accountTitle">Account Information</h3>
        <!-- Profile Information -->
        <div class="accountCard">
            <div class="detailRow">
                <span class="detailLabel">Username:</span>
                <span class="detailValue">{{ current_user.username }}</span>
            </div>

            <div class="detailRow" style="border: none; margin-bottom: 0;">
                <span class="detailLabel">Email:</span>
                <span class="detailValue">{{ current_user.email }}</span>
            </div>
        </div>

        <!-- Section to change small preferences on appearance and functionality -->
        <div class="preferencesSection">
            <h3 class="accountTitle">Settings</h3>

            <div class="themeToggleContainer">
                 <span class="detailLabel">Dark Mode</span>
                 <label class="switch">
                     <input type="checkbox" onclick="toggleTheme()" {% if current_user.theme == 'dark' %}checked{% endif %}>
                     <span class="slider round"></span>
                 </label>
             </div>
        </div>

        <!-- Section to export the data for personal use -->
        <div class="exportSection">
            <h3 class="accountTitle">Data & Privacy</h3>

            <a href="{{ url_for('export') }}" class="exportBtn">Export Data to CSV</a>
        </div>

        <!-- Account Actions -->
        <div class="actionSection">
            <a class="logoutBtn" href="{{ url_for('logout') }}">Logout</a>
            <form action="{{ url_for('delete_account') }}" method="POST" onsubmit="return confirm('Are you sure? This will permanently delete your account and all mileage entries. This CANNOT be undone.');">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="deleteBtn">Delete Account</button>
            </form>
        </div>
    </div>
{% endblock %}