/* CSS Variables for Color Theming */
:root {
    --action-Btn-bckgnd: #f9f9f9;
    --action-Btn-Brdr: #ddd;
    --action-Btn-bckgnd-hvr: #e7e7e7;
    --action-Btn-Brdr-hvr: #d7d7d7;
}
/* Dark Mode Overrides */
body.darkMode {
    --action-Btn-bckgnd: #1b1b1b;
    --action-Btn-Brdr: #4f4f4f;
    --action-Btn-bckgnd-hvr: #333333;
    --action-Btn-Brdr-hvr: #4f4f4f;
}

/* Title for home page*/
.yearTitle{
    font-family: sans-serif;
    font-size: 2vw;
    text-align: center;
}

/* Home page content container */
.contentContainer {
    display: flex;
    flex-direction: column; /* Stacks the Stats Section ON TOP of the Table */
    align-items: center;

    margin: 0 auto;
    width: 95%;
    font-family: sans-serif;
}

.statsWrapper{
    width: 100%;
    overflow-x: auto;
}
/* Summary Stats Section */
.summaryStatsContainer{
    display: flex;
    flex-direction: row; /* Places the stats boxes SIDE-BY-SIDE */
    justify-content: space-between;

    width: 100%;
    min-width: 484px; /* Forces scroll if screen is smaller than this */
    max-width: 1000px; /* To match table width*/
    margin: 0 auto 10px auto; /* Centers the container */
    gap: 20px;
}
.statsBox{
    background-color: var(--bg-card);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 5px;
    /* flex: 1 ensures all 4 boxes take up equal width */
    flex: 1;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
.statsBox h3{
    margin: 0 0 10px 0;
    font-size: 18px;
    color: var(--text-main);
}
.statsBox p{
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-main);
}

/**/
/**/
/* Table Section */
.tableWrapper{
    width: 100%;
    overflow-x: auto;
}
.mileageTable{
    width: auto;
    max-width: 1000px;
    margin: 0 auto;

    /* border-collapse ensures borders are shared between cells, removing double lines */
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    background-color: var(--bg-card);
}
.mileageTable thead tr{
    background-color: var(--bg-header);
    color: var(--text-header);
    text-align: left;
}
/* Styling for both header cells (th) and date cells (td) */
.mileageTable th, .mileageTable td {
     padding: 12px 15px;
     border-bottom: 1px solid var(--border-color);
 }
.mileageTable tbody tr:nth-of-type(even) {
     background-color: var(--table-stripe);
}

.actionsTableCell{
    display: flex;
    gap: 10px;
}

.editBtn, .deleteBtn {
    text-decoration: none;
    background-color: var(--action-Btn-bckgnd);
    border-style: solid;
    border-color: var(--action-Btn-Brdr);
    border-width: 2px;
    border-radius: 6px;
    font-size: inherit;

    cursor: pointer;
}
.editBtn{
    color: blue;
    padding: 4px;
}
.deleteBtn{
    color: red;
    padding: 5px;
}
/**/
/**/
/* css for when table buttons/images are hovered over */
.editBtn, .deleteBtn {
    transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
}
.editBtn:hover, .deleteBtn:hover {
    transform: scale(1.1);

    background-color: var(--action-Btn-bckgnd-hvr);
    border-color: var(--action-Btn-Brdr-hvr);
}